.blue_btn {
  cursor: pointer;
  text-align: center;
  background: #2196f3;
  border-bottom: 1pxsolid #d7d7d7d;
  font-weight: 500;
  color: #eee;
  padding: 9px;
  font-size: 15px;
  display: block;
  text-decoration: none;
}
